body{
    background-color: #eaa515;
    justify-items: center;
    
}

.main{
     height: 550px;
     width: 850px;
     background-color: white;
     margin-top: 1.5rem;
    text-align: center;

}

form{
    padding-left:8rem ;
   line-height: 2.5rem;
}

#work{
    margin-right: 4rem;
   margin-bottom: 1rem;
}

.input4{
    display: flex;
    line-height: 1.2rem;
    width: 540px;

}

#choose{
  margin-right: 4rem;
   height: 40px;
   width: 330px;
}

#suggestions {

        
   height: 30px;
   width: 160px; 
   margin-right: 11.5rem;
   margin-top: 0.8rem;

}
.checkbox-complete{
   
    height: 110px;
    display: flex;
}

.para{
   text-align: end;
    width: 42%;
    
}
.checkbox{
    
   text-align: start;
   line-height:0% ;
   margin-top: 1.7rem;
}


.radiobtn-complete{
   
    height: 70px;
    display: flex;
}

.radio-para{

    text-align: end;
    width: 42%;
    

}

.radiobtn{
     text-align: start;
   line-height:0% ;
   margin-top: 1.7rem;

}

button{

    width: 150px;
    height: 30px;
    background-color:#eaa515;
   
    border: none;
    border-radius: 0.4rem;
    margin-right: 8.8rem;
    color: white;
    font-size: 1rem;
  
  
}




